libopenblas-dev
libgflags-dev
zlib1g-dev
ffmpeg
libbz2-dev
liblzma-dev
unzip
pigz
axel
libsndfile1
krb5-user
libboost-program-options-dev
libboost-system-dev
libboost-test-dev
libeigen3-dev
libfftw3-doc
libfftw3-dev
libboost-thread-dev
espeak
