hydra-core
pandas
tensorflow
sacremoses
sacrebleu
soundfile
sentencepiece
torchaudio
omegaconf
gTTS
pyttsx3
tqdm
editdistance
regex
dataclasses
PyYAML
typing-extensions
importlib-resources
antlr4-python3-runtime
portalocker
cython
future
